.maindiv {
    display: flex;
    flex-direction: column;
    width: 1500px;
    height: 100vh;
}

.topdiv {
    text-align: center;
    margin-bottom: 20px;
}

.selected {
    background-color: #cccccc;
    font-weight: bold;
    color: #333;
}

.main-heading {
    align-self: center;
}
.sub-heading {
    align-self: center;
}

.container {
    display: flex;
    flex: 1;
}

.domain-list {
    flex: 20%;
    padding: 10px;
}

.url-list {
    flex: 20%;
    padding: 10px;
}

.dark-pattern-list {
    flex: 60%;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 5px 10px;
}

li:hover {
    background-color: #aaaaaa;
    font-weight: bold;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #cccccc;
    font-weight: bold;
    color: #333;
}

.domain-list,
.url-list,
.dark-pattern-list {
    padding: 10px;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #555555; /* Added border for separation */
    border-radius: 5px; /* Added border radius for a boxy look */
}
